<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity on IIFE </title>
</head>
<body>
    <h1> Welcome to learn IIFE </h1>
    <p> This is iife style of writting Web server code </p>
    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et facilis nihil enim? Rem voluptas autem ipsa quas, nihil rerum, amet possimus officiis at odit accusantium alias dolore voluptatem repellendus voluptates!</p>
    </div>
    
</body>
</html>